.videoContainer {
  display: block;
  margin: 10px 0;


  .videoDetail {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 12px;

    .videoPlayer {
      grid-row: 1/3;
    }

    .suggestionBar {
      grid-row: 1/3;
      width: 100%;
      overflow: hidden;

      .card {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap:10px
      }
    }

    .title {
      grid-row: 3/4;
      height:fit-content;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 5px;
      text-align: left;

    }

    .channel {
      grid-row: 4/5;
      display: grid;
      align-items: center;
      grid-template-columns: 1.3fr 0.7fr;
      gap: 15px;

      .channelName {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
      }

      .like-dislike-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .thumbs-up {
          display: flex;
          width: fit-content;
          align-items: center;
          gap: 3px;
        }

        .thumbs-down {
          display: flex;
          width: fit-content;
          align-items: center;
          gap: 3px;
        }
      }

      mat-card-header {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .videoDesc {
      grid-row: 5/6;

      .videoTags {
        display: flex;
        gap: 5px;
        padding: 15px 0;
        flex-wrap: wrap;
      }
    }

    .commentSection {
      grid-row: 6/7;
    }
  }

}

