<div class='container-fluid'>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Youtube Clone</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
            routerLink='/upload-video'>
      <mat-icon>video_call</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>notifications_none</mat-icon>
    </button>
    <button [matMenuTriggerFor]="menu" mat-icon-button *ngIf="isAuthenticated; else noAuth" class="example-icon"
            aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <ng-template #noAuth>
      <button mat-raised-button color="accent" (click)='login()'>Login</button>
    </ng-template>
  </mat-toolbar>
</div>
